section {
  margin-bottom: 2em;
}

.clickable {
  cursor: pointer;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  vertical-align: middle;
  background: url("../../public/images/external-link-svgrepo-com.svg") no-repeat center center;
  background-size: contain;
}

// .label {
//   display: inline-block;
//   margin-right: 10px;
//   font-weight: bold;
//   color: #333;
// }
