/* Hamburger menu */
.burger-menu {
  display: none;
  cursor: pointer;
  padding: 10px;
  position: relative;
  z-index: 99;
}

.burger-menu__line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

.burger-menu__line:nth-child(1) {
  transform: rotate(0) translate(0, 0);
}

.burger-menu__line:nth-child(2) {
  transform: rotate(0) translate(0, 0);
}

.burger-menu__line:nth-child(3) {
  transform: rotate(0) translate(0, 0);
}

.burger-menu.open .burger-menu__line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger-menu.open .burger-menu__line:nth-child(2) {
  opacity: 0;
}

.burger-menu.open .burger-menu__line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Menu */
.app-header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 10;

  p {
    min-width: fit-content;
  }
}

.menu-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.app-header__nav {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.app-header__nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: all 0.2s ease-in-out;
}

.app-header__nav a:hover {
  color: rgb(29, 221, 189);
}

@media screen and (max-width: 1024px) {
  .app-header {
    flex-direction: row;

    h1 {
      display: none;
    }
  }

  .app-header__nav {
    display: none;
    flex-direction: column;
    margin-top: 20px;
  }

  .app-header__nav a {
    margin: 10px 0;
    color: white;
    z-index: 1000;

    &:hover {
      color: rgb(29, 221, 189);
      transform: scale(2);
    }
  }

  .burger-menu {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .bm-menu-wrap {
    width: 100%;
    height: 100%;
    top: 20%;
  }

  .bm-burger-button {
    display: none;
  }

  .menu-item {
    display: block;
    margin-bottom: 10px;
  }

  .bm-menu {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 2em 0;
  }

  .bm-menu a {
    color: white;
    opacity: 1;
    font-size: 1.5em;
    margin: 0;
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
  }
}

@media screen and (min-width: 1025px) {
  .app-header__nav {
    display: flex;

    & a:hover {
      color: rgb(29, 221, 189);
      transform: scale(1.5);
      padding: 0 1.25vw;
    }
  }

  .burger-menu {
    display: none !important;
  }

  .menu__mobile {
    display: none !important;
  }

}