.home__button {
  background-color: black;
  color: rgb(29, 221, 189);
  border: 1px solid rgb(29, 221, 189);
  padding: 1em 2em;
  cursor: pointer;
  transition: background-color 1s ease-in-out;
}

.home__headline {
  margin-top: 0;
}

.home__link {
  color: rgb(29, 221, 189);
  text-decoration: none;
  transition: transform 0.3s ease;
  display: inline-block;
  &:hover {
    text-decoration: underline;
    transform: scale(1.05) !important;
  }
}
.subheadline {
  margin-bottom: 0;
  margin-top: 50px;
}

.home__full {
  padding: 0 10%;
  font-size: .825em;
}

@media (max-width: 1025px) {
  .home {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  
  .home__left {
    display: flex;
    justify-content: center;
  }

  .home__image {
    max-width: 50%;
  }

  .home__right {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 10%;
  }
  .subheadline {
    margin-top: 50px;
  }
  
}

@media (min-width: 1025px) {
  .home__container {
    display: flex;
    align-items: center;
  }

  .home__left {
    padding: 0 20% 7.5% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home__right {
    padding: 0 2rem;
  }

  .home__image {
    width: 25vw;
  }

  .home__button {
    font-size: 1.5em;
    &:hover { 
      background-color: rgb(255, 255, 255, .1);
    }
  }

  .home__description {
    font-size: 1.5em;
    margin-bottom: 2em;
  }

  @media (min-width: 1025px) and (max-width: 1200px) { 
    .home__headline {
      font-size: .6rem; 
    }
  }
}