html {
  overflow-x: hidden;
  font-family: Roboto;
  font-weight: 300;
}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
  max-width: 100vw;
  margin: 0;
  overflow-y: auto;
}

.primary {
  color: rgb(29, 221, 189);
}

.link  {
  color: rgb(29, 221, 189);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: inline-block;
}

.link:hover {
  transform: scale(1.05);
  transition-delay: 0.1s;
}

.link:visited {
  color: rgb(29, 221, 189);
}

.about,
.contact,
.experience,
.projects {
  padding: 0 10vw;
}

h1 {
  font-family: Roboto;
  font-weight: 300;
}

h2 {
  font-size: 1em;
  font-weight: 300;
}

.bold {
  font-weight: bold;
}

p, li {
  font-size: 1.1em;
}

@media (min-width: 1025px) {
  h1 { font-size: 4em; }
  h2 { font-size: 2em;  }
}